<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Entities</title>
    <link rel="components" href="entity_buffer.html">
  </head>
  <body>
    <element name="entity-table" extends="span">
      <template>
        <table>
          <caption class="marker">
            {{ entities.concept.code }}
          </caption>
          <tr template iterate="attribute in entities.concept.attributes.toList()">       
            <th>{{ attribute.code }}</th>
          </tr>
          <tbody template iterate="entity in entities.toList()">
            <tr template iterate="attribute in entities.concept.attributes.toList()">
              <td>{{ entity.getAttribute(attribute.code) }}</td>
            </tr>
          </tbody>
        </table>
        <!--
        -->
        <div>
          <entity-buffer
            entities="{{ entities }}"
            entity="{{ entities.findByAttribute('name', 'Dart') }}"
          >
          </entity-buffer>
        </div>
        
      </template>
      <script type="application/dart" src="entity_table.dart"></script>
    </element>
  </body>
</html>
